<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tootto">

    <uses-permission android:name="android.permission.INTERNET"/>//网络权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tootto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tootto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/oauth_scheme"
                    android:host="@string/oauth_host"></data>
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.OauthWebViewActivity">-->

        <!--</activity>-->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.OauthWebViewActivity"/>
        <activity android:name=".activity.SearchResultActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.ViewMediaActivity"/>
        <activity android:name=".activity.ViewVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


    </application>

</manifest>